<div class="offices">
  {{#each @model as |office|}}
    <div class="office">
      <div class="office__content">
        <div class="office__content--description">
          {{office.name}}
        </div>
        <div class="office__content--details">
          <p>{{office.street}}</p>
          <p>{{office.city}}, {{office.state}} {{office.zip}}</p>
        </div>
        <div class="office__content--phone">
          {{office.phone}}
        </div>

        <button type="button">Select</button>
      </div>
    </div>
  {{/each}}
</div>
