{{#each @model as |office|}}
  <div>city: {{office.id}}</div>
  <div>city: {{office.city}}</div>
  <div>name: {{office.name}}</div>
  <div>state: {{office.state}}</div>
  <div>street: {{office.street}}</div>
  <div>zip: {{office.zip}}</div>
  <div>phone: {{office.phone}}</div>
  <hr/>
{{/each}}
